# Node / pnpm
node_modules/
apps/e2e/test-results/
.pnpm-store/
.pnpm-debug.log*

# Build outputs
dist/
build/

# Env
.env
.env.*

# Logs
*.log

# OS / Editor
.DS_Store
.idea/
.vscode/*
!.vscode/extensions.json
!.vscode/settings.json

postgres_data/
